.principal {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.main {
  display: flex;
  flex-direction: column;
  max-width: 412px;
}
.container {
  width: 350px;
  display: flex;
  flex-direction: column;
  opacity: 10px;
  padding: 30px;
  height: 100%;
  gap: 10px;
  background: url("./assets/red.jpg");
  align-items: center;
}

.Search {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-top: 40px;
}
input {
  width: 250px;
  height: 40px;
  border-radius: 5px;
  border: none;
}
.button {
  height: 30px;
  width: 90px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
}
.button:hover {
  width: 93px;
  height: 33px;
}

.clima {
  padding: 20px;
  font-weight: bold;
  font-size: 43px;
  background: #3333;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #fff;
}

.cidade {
  font-size: 45px;
  color: #fff;
}
.data {
  font-size: 18px;
  color: #fff;
}

.Info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
  height: 300px;
}

.estado {
  font-size: 30px;
  color: #fff;
}

.sunny-bg {
  background: url("../src//assets/ice.jpg");
}

.cold-bg {
  background: url("./assets//red.jpg");
}
.empty-bg {
  background: url("../src//assets/neutroAtt.jpg");
}
.Erro {
  text-align: center;
  margin-top: 101px;
  font-size: 35px;
}
